<h1>Hourly Weather</h1>

<table border="1">
  <tr>
    <th>Time</th>
    <th>Temp (°C)</th>
    <th>Feels Like</th>
    <th>Wind</th>
    <th>Visibility</th>
    <th>Precipitation (%)</th>
  </tr>

  {% for w in weather_data %}
  <tr>
    <td>{{ w.time }}</td>
    <td>{{ w.temperature }}</td>
    <td>{{ w.apparent_temperature }}</td>
    <td>{{ w.wind_speed }} km/h ({{ w.wind_direction }}°)</td>
    <td>{{ w.visibility }}</td>
    <td>{{ w.precipitation_probability }}</td>
  </tr>
  {% endfor %}
</table>